{% extends "./base.html" %}

{% block title %} App Notas {% endblock %}
{% block body %}
<div class="container">
    <center><h1>App Notas</h1></center>
    {% if not user.is_authenticated %}
        <center><h2>Por favor, ingrese para poder acceder a la App</h2></center>
    {% endif %}
    {% if user.is_authenticated %}
        <center>
            <button onclick="window.location.href='registrar/'" class="btn btn-primary">Nueva nota</button>
        </center>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
                <div class="table-responsive py-2">
                    <div class="table responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Titulo</th>
                                    <th>Nota</th>
                                    <th>Fecha</th>
                                    <th colspan="3">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for c in notas %}
                                    <tr>
                                        <td>{{ c.codigo }}</td>
                                        <td>{{ c.titulo }}</td>
                                        <td>{{ c.nota }}</td>
                                        <td>{{ c.fecha }}</td>
                                        <td><a href="ver/{{ c.codigo }}" class="btn btn-success">Ver</a></td>
                                        <td><a href="edicion/{{ c.codigo }}" class="btn btn-info">Editar</a></td>
                                        <td><a href="borrar/{{ c.codigo }}" class="btn btn-danger">Borrar</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
