{% extends "./base.html" %}

{% block title %} Edición {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Notas</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarNota/" method="POST">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col">
                            <label for="codigo">Código</label>
                            <input type="text" id="codigo" value="{{nota.codigo}}" name="codigo" class="form-control" 
                            placeholder="Código" minlength="1" maxlength="4" readonly required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="titulo">Título</label>
                            <input type="text" id="titulo" value="{{nota.titulo}}" name="titulo" class="form-control" 
                            placeholder="Título" readonly required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="nota">Nota</label>
                            <input type="text" id="nota" name="nota" value="{{nota.nota}}" class="form-control" 
                            placeholder="Nota" minlength="1" maxlength="1" readonly required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group">
                            <label for="nota">Fecha</label>
                        <input type="date" id="fecha" name="fecha" value="{{nota.fecha|date:'Y-m-d'}}"  class="form-control" 
                        required pattern="\d{4}-\d{2}-\d{2}"  
                        max="{{ date.today|date:'Y-m-d' }}"  
                        min="2000-01-01" readonly required>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-success btn-block text-white">Atrás</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
